#gameboard {
    display: grid;
    grid-template: 150px 150px 150px / 150px 150px 150px; 
    width: 450px;
    margin: 50px auto; /* Center the board */
}
.box {
    text-align: center;
    border: 2px solid black;
    font-size: 100px;
    padding-top: 10px;
}